<div class="message">
  <table>
    <tbody>
      <tr>
        <td><%= image_tag("http://placehold.it/60x60", class: "img-circle") %></td>
        <td><span class="text">{{text}}</span></td>
      </tr>
      <tr>
        <td><span class="author">{{author}}</span></td>
        <td><span class="sent-at">Enviado {{sentAt}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
