<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t(".resend_confirmation_instructions", default: "Resend confirmation instructions") %></h4>
  </div>

  <div class="panel-body">
    <%= simple_form_for(r