
<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="http://placehold.it/300x200" style="display: block;">
    <div class="caption">
      <p class="centered">
        <%= link_to "Comprar", new_bid_order_path(bid), class: "btn btn-primary" %>
      </p>
    </div>
  </div>
</div>