<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t(".resend_unlock_instructions", default: "Resend unlock instructions") %></h4>
  </div>

  <div class="panel-body">
    <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name),
                                                     html: {