
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.panel-heading {
  padding: 15px;

  h4 {
    margin: 0;
  }
}

// Move down content because we have a fixed navbar that is 50px tall
body {
  padding-top: 50px;
}

//
// Sidebar
//

// Hide for mobile, show later
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto; // Scrollable contents if viewport is shorter than content.
    padding: 20px;
    position: fixed;
    top: 51px;
    z-index: 1000;
  }
}

// Sidebar navigation

.nav-sidebar {
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -21px; // 20px padding + 1px border
}

.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #428bca;
  color: #fff;
}

//
// Main content
//

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

.centered {
  text-align: center;
}

.checkout-step p {
  margin-top: 10px;
}

.checkout-row {
  display: table-row;
}

.checkout {
  display: table;
  position: relative;
  width: 100%;
}

.checkout-step button[disabled] {
  filter: alpha(opacity=100) !important;
  opacity: 1 !important;
}

.checkout-row:before {
  background-color: #ccc;
  bottom: 0;
  content: " ";
  height: 1px;
  position: absolute;
  top: 14px;
  width: 100%;
  z-order: 0;
}

.checkout-step {
  display: table-cell;
  position: relative;
  text-align: center;
}

.btn-circle {
  border-radius: 15px;
  font-size: 12px;
  height: 30px;
  line-height: 1.428571429;
  padding: 6px 0;
  text-align: center;
  width: 30px;
}

.bid + .bid,
.order + .order {
  margin-top: 20px;
}

.message {
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  margin-left: 0px;

  .author {
    color: #b9b9b9;
    display: block;
    font-size: 0.8em;
    text-align: center;
    padding-top: 5px;
    width: 100%;
  }

  .sent-at {
    font-size: 0.8em;
    color: #b9b9b9;
    padding-left: 15px;
    padding-top: 5px;
    display: block;
    width: 100%;
  }

  .text {
    padding-left: 15px;
  }
}

.message + .message {
  margin-top: 10px;
}